<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page </title>
</head>
<body>

    <h1>Sign up page </h1>
    <form action="/user" method="post">
        <label for="name"> Enter your name </label>
        <input type="text" name="name" id="name">
        
        <label for="email"> Enter your email </label>
        <input type="text" name="email" id="email">
        
        <label for="password"> Enter your password </label>
        <input type="text" name="password" id="password">

        <button type="submit">Sign up </button>
    </form>
</body>
</html>